*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family: sans-serif;
    font-size: 16px;
}

.container{
    background-color: blueviolet;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

button{
    margin-top: 30px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}