*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

.container{
    max-width: 1200px;
    background-color: blueviolet;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

button{
    margin-top: 30px;
}